<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('views.home') }}">Template by OneEyeX</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link linko2" id="home" aria-current="page" href="{{ url_for('views.home') }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link linko2" id="logout" aria-current="page"
                        href="{{ url_for('auth.logout') }}">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class=" nav-link linko2" id="login" href="{{ url_for('auth.login') }}">Login</a>
                </li>
                <li class="nav-item">
                    <a class=" nav-link linko2" id="signUp" href="{{ url_for('auth.sign_up') }}">Sign Up</a>
                </li>
                {% endif %}

            </ul>

        </div>
    </div>
    <br>
    &nbsp; <br>&nbsp;
</nav>